.facts {
    padding: 60px 0 30px;
    &__title {
        margin-bottom: 30px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 30px;
    }
}

.fact-block {
    max-width: 807px;
    display: flex;
    padding: 16px;
    gap: 16px;
    flex: 1;
    border-radius: 25px;
    background-color: $block-color;
    box-shadow: 4px 4px 30px $shadow-color;
    transition: all 0.2s;
    &:nth-child(even) {
        align-self: end;
    }
    &__img {
        min-width: 259px;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .facts {
        padding: 48px 0 24px;
        &__wrapper {
            gap: 24px;
        }
    }
    .fact-block {
        &__title {
            font-size: 26px;
        }
    }
}


@media (max-width: 767px) {
    .facts {
        padding: 24px 0 12px;
        &__title {
            margin-bottom: 20px;
        }
    }
    .fact-block {
        &__title {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 680px) {
    .fact-block {
        flex-direction: column;
        gap: 12px;
        &__img {
            margin: 0 auto;
        }
    }
}

@media (max-width: 544px) {
    .facts {
        padding: 20px 0 10px;
    }
    .fact-block {
        &__title {
            font-size: 18px;
        }
    }
}