.footer {
    min-height: 92px;
    padding: 27px 0;
    background-color: $brown-color;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copyright {
        font-weight: bold;
        color: $pink-color;
    }
    &__rights {
        font-weight: bold;
        color: $pink-color;
        text-transform: uppercase;
    }
    &__telegram {
        display: block;
        width: 31px;
        height: 31px;
        cursor: pointer;
    }
    &__ico {
        width: 31px;
        height: 31px;
        cursor: pointer;
        use {
            pointer-events: none;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        min-height: 64px;
        padding: 12px 0;
        &__container {
            flex-direction: column;
            gap: 12px;
        }
        &__rights {
            text-align: center;
        }
    }
}