.history {
    padding: 30px 0 48px;
    &__title {
        margin-bottom: 30px;
    }
}

.history-block {
    position: relative;
    padding: 16px 50px 16px 16px;
    border-radius: 25px;
    background-color: $block-color;
    box-shadow: 4px 4px 30px $shadow-color;
    width: 100%;
    margin: 0 auto;
    &__wrapper {
        transition: opacity 0.3s;
    }
    &__title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 13px;
    }
    &__subtitle {
        padding-left: 20px;
    }
    &__text {
        margin-bottom: 10px;
    }
    &__list {
        list-style-type:circle;
        margin-bottom: 10px;
        padding-left: 20px;
    }
	&__scroll-wrapp {
        position: absolute;
        right: 12px;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
            font-size: 14px;
            font-weight: bold;
            color: $pink-color;
            margin-bottom: 6px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
	}
    &__mouse {
        width: 14px;
        height: 20px;
    }
    &__arrow-down {
        width: 12px;
        height: 14px;
    }
}
.change {
    opacity: 0;
}